.flex-container{
    width: 100%;
    flex-grow: 1;
    margin-top: 20px;
}



.card-bottom-info{
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: center;
    width: 100%;
}



.title{
    font-size:30px;
}

.card-action-area{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: normal;
    justify-content: space-between;
}

.NoRestaurant{
    margin-left: 20px;
}

.grid{
    padding: 20px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    transform: translateZ(0);
    cursor: pointer;
}

.media{
    height: 40%;
    width: 100%;
}

@media screen and (min-width: 601px) {
    .rest-for-two{
        display: flex;
        align-items: center;
        width: 100px;
        justify-content: space-around;
    }
    .rest-rating{
        background-color: rgb(234, 204, 94);
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 30px;
        color: white;
    }
}
@media screen and (max-width: 600px) {
    .rest-for-two{
        display: flex;
        align-items: center;
        width: 45%;
        justify-content: space-around;
        margin-left: 2px;
    }
    .rest-rating{
        background-color: rgb(234, 204, 94);
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 30px;
        color: white;
        font-size: 45%;
    }
}

/*
.cardContent{
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    height: 20%;
    display: flex;
    align-items: center;
}

.cardActionArea{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: normal;
    justify-content: space-between;
}*/
