@media screen and (min-width: 601px) {
  .header {
    padding: 10px 15px 10px 15px;
    background-color: hsl(199deg 20% 18%);
    color: aliceblue;
    display: flex;
    justify-content: space-between;
  }
}

.search-bar {
  width: 350px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .header {
    width: 100%;
    height: 140px;
    padding: 10px 15px 10px 15px;
    background-color: hsl(199deg 20% 18%);
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .search-bar {
    width: 250px;
  }

  .logo .search-bar .userButton {
    padding: 20px;
  }
}

div .search-bar ::after {
  border-bottom: 2px solid white !important;
}

.tabs {
  margin-bottom: 20px;
}

.tab-container {
  padding: 0;
  text-align: center;
  overflow-y: auto;
  height: 100%;
}

.red {
  display: inline-block;
  width: 195px;
  color: red;
}

.dispNone {
  display: None;
}

.dispBlock {
  display: block;
}
